{
    "presets": [
        "@babel/preset-env", 
        "@babel/preset-react"
    ],
    "plugins": [
        ["styled-components", 
            { 
                "ssr": false, 
                "displayName": true, 
                "fileName": true,
                "minify": false,
                "pure": true
            }
        ]
    ]
}
